


<script type="text/template" id="mainPage">

    <h1> Main Page </h1>

</script>


<script type="text/template" id="hotelPage">
    <h1> Hotels </h1>

    <form class="example">
        <input type="text" placeholder="Search.." name="search">
        <button id="searchButton" type="submit"> <i class="fa fa-search"></i> </button>
      </form>

</script>


<script type="text/template" id="aboutUsPage">
    <h1> About Us </h1>

    <div class="imageContent">
        <img id="aboutUsFrontImage" src="../../../../../project/tutorial/PHP Backend\/small project/static/images/about-us-front-image.jpg">
    </div>
    
</script>